<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/layui/assets/libs/layui/css/layui.css"/>
    <link rel="stylesheet" href="../../static/layui/assets/css/login.css?v=314">
    <link rel="stylesheet" href="../../static/layui/assets/module/admin.css?v=314">
    <script src="../../static/layui/assets/module/fileManager.js"></script>
</head>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form toolbar">
                <form action="#" id="form_btnQuery" class="">
                    <div class="row">
                        <div class="layui-inline" style="float:right;padding-bottom: 8px;">
<!--                            <a id="startTask" class="layui-btn layui-btn-info">手动运行</a>-->
                            <a id="addTask" class="layui-btn icon-btn"><i class="layui-icon">&#xe654;</i>新任务</a>
                        </div>
                    </div>
                </form>
            </div>
            <table class="layui-table" id="taskTable" lay-filter="taskTable"></table>
        </div>
    </div>
    <button class="layui-btn layui-hide" id="uploadxz"><i class="layui-icon">&#x1005</i>选择</button>
    <button class="layui-btn layui-hide" id="uploadbtn"><i class="layui-icon">&#x1005</i>确定</button>
</div>
<!-- js部分 -->
<script type="text/javascript" src="../../static/jQuery/jquery-3.3.1.js"></script>
<script type="text/javascript" src="../../static/layui/assets/libs/layui/layui.js"></script>
<script type="text/javascript" src="../../static/layui/assets/js/common.js?v=314"></script>
<script type="text/html" id="addTaskModel">
    <form id="modeltaskForm" lay-filter="modeltaskForm" style="display: inline;margin: 0px;padding: 0px;"
          class="layui-form model-form">
        <div style="margin: 0px;padding: 0px;height: calc(100% - 2px);" class="layui-tab layui-tab-card"
             lay-filter="demo1">
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-card">
                        <div class="layui-card-header" style="font-size:16px;font-weight:bold;margin-left:-3.5%;">
                            定时任务<label
                                class="layui-form-label"></label></div>
                        <div class="layui-card-body">
                            <div class="layui-form">
                                <div class="layui-row">
                                    <div class="layui-col-xs6">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">任务类型</label>
                                            <input type="hidden" id="task_id" name="task_id"
                                                   class="layui-input" lay-verType="tips"/>
                                            <div class="layui-input-block" id="zljbselect">
                                                <select name="content" id="form_content" lay-verType="content"
                                                        lay-filter="form_content"
                                                        lay-verify="required"
                                                        required>
                                                    <option t="0" value="">请选择任务类型</option>
                                                    <option t="1" value='每隔秒'>每隔秒</option>
                                                    <option t="1" value='每隔分'>每隔分</option>
                                                    <option t="1" value='每隔时'>每隔时</option>
                                                    <option t="1" value='每隔天'>每隔天</option>
                                                    <option t="2" value='每时'>每分</option>
                                                    <option t="2" value='每时'>每时</option>
                                                    <option t="3" value='每天'>每天</option>
                                                    <option t="3" value='每周一'>每周一</option>
                                                    <option t="3" value='每周二'>每周二</option>
                                                    <option t="3" value='每周三'>每周三</option>
                                                    <option t="3" value='每周四'>每周四</option>
                                                    <option t="3" value='每周五'>每周五</option>
                                                    <option t="3" value='每周六'>每周六</option>
                                                    <option t="3" value='每周日'>每周日</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs6" id="zxsj">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">执行时间</label>
                                            <div class="layui-input-block">
                                                <input type="text" id="form_time" placeholder="请输入执行时间"
                                                       class="layui-input" maxlength="200" lay-verType="tips"/>
                                                <input type="number" id="form_number" placeholder="请输入执行时间"
                                                       class="layui-input" lay-verType="tips"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-row">
                                    <div class="layui-col-xs12">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">执行内容</label>
                                            <div class="layui-input-block">
                                                <!--                                                <input type="checkbox" value="0" name="job[0]" title="文件备份"/>-->
                                                <textarea name="command" class="layui-textarea"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-row" id="parentAjName">
                                    <div class="layui-col-xs5 hideAjName">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">标签</label>
                                            <div class="layui-input-block">
                                                <input name="label" type="text" id="label" placeholder="请输入标签"
                                                       class="layui-input" maxlength="200" lay-verType="tips"
                                                       lay-verify="required" required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-col-xs6">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">状态</label>
                                            <div class="layui-input-block">
                                                <input type="checkbox" id="form_enable" lay-filter="form_enable"
                                                       checked="checked"
                                                       name="enable" lay-skin="switch" lay-text="启用|禁用"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-row">
                                    <div class="layui-col-xs12">
                                        <div class="layui-form-item">
                                            <label class="layui-form-label">备注</label>
                                            <div class="layui-input-block">
                                                <textarea name="mark" rows="8" required cols="40" id="mark"
                                                          class="layui-textarea" lay-verify="mark"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-row" style="position: absolute;bottom: 0;right: 0;padding-right: 26px;left: 0;">
                        <div class="layui-form-item text-right">
                            <button class="layui-btn" lay-filter="modelSubmit" lay-submit>确定</button>
                            <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</script>
<script type="text/html" id="taskTableBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
</html>
<script>
    layui.use(['layer', 'form', 'table', 'util', 'laydate', 'element', 'layedit'], function () {
        var element = layui.element;
        element.on('tab(demo1)', function (data) {
            console.log(data);
        });
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var laydate = layui.laydate;
        var admin = layui.admin;
        var layedit = layui.layedit;

        var insTb = table.render({
            elem: '#taskTable',
            url: 'task.json',
            page: false,
            cols: [[
                {type: 'numbers', title: '序号'},
                {field: 'content', title: '任务类型'},
                {field: 'time', title: '执行时间'},
                {field: 'command', title: '命令'},
                {field: 'label', title: '标签'},
                {field: 'mark', title: '备注'},
                {
                    field: 'enable', title: '状态', width: 100, align: 'center', templet: function (d) {
                        if (d.enable) {
                            return '<input type="checkbox" value="' + d.task_id + '" id="enable" lay-filter="enable" checked="checked" name="enable" lay-skin="switch" lay-text="启用|禁用"'
                        } else {
                            return '<input type="checkbox" value="' + d.task_id + '" id="enable" lay-filter="enable" name="enable" lay-skin="switch" lay-text="启用|禁用"'
                        }
                    }
                },
                {align: 'center', toolbar: '#taskTableBar', title: '操作'}
            ]],
            // page: {
            //     count: 100, //总条数
            //     limit: 10,//每页显示数量
            //     limits: [10, 20, 50, 100, 200],//选择每页数目
            //     groups: 5, //连续出现的页码个数
            //     prev: '<',
            //     next: '>',
            //     first: '首页',
            //     last: '尾页',
            //     layout: ['count', 'prev', 'page', 'next', 'limit', 'skip'],
            // },
        });
        table.on('tool(taskTable)', function (obj) {
            var data = obj.data;
            var layEvent = obj.event;
            if (layEvent === 'edit') { // 修改
                admin.open({
                    type: 1,
                    title: ['修改任务', "font-weight:bold;"],
                    content: $('#addTaskModel').html(),
                    offset: '-1px',
                    area: ['1000px', 'auto'],
                    success: function (layero, dIndex) {
                        form.render();
                        var $zxsj = $("#zxsj");
                        var $form_content = $("#form_content");
                        var $form_time = $("#form_time");
                        var $form_number = $("#form_number");
                        var init_input = function (value) {
                            if (value == "每隔秒" || value == "每隔分" || value == "每隔时" || value == "每隔天") {
                                $form_number.attr("min", "1");
                                $form_number.attr("max", "1000");
                                $form_number.attr("onkeyup", "if(this.value>1000){this.value=1000};if(this.value<1){this.value=1}");
                                $form_number.attr("lay-verify", "required").show().attr("name", "time")
                                $form_time.attr("lay-verify", "").hide().attr("name", "")
                            } else if (value == "每分" || value == "每时") {
                                $form_number.attr("min", "0");
                                $form_number.attr("max", "59");
                                $form_number.attr("onkeyup", "if(this.value>60){this.value=60};if(this.value<0){this.value=0}");
                                $form_number.attr("lay-verify", "required").show().attr("name", "time")
                                $form_time.attr("lay-verify", "").hide().attr("name", "")
                            } else if (value == "每天" || value == "每周一" || value == "每周二" || value == "每周三" || value == "每周四" || value == "每周五" || value == "每周六" || value == "每周日") {
                                $form_number.attr("lay-verify", "").hide().attr("name", "")
                                $form_time.attr("lay-verify", "required").show().attr("name", "time")
                            }
                            if (value) {
                                $zxsj.show(200)
                            } else {
                                $zxsj.hide(200)
                            }
                        }
                        laydate.render({
                            elem: '#form_time',
                            type: "time",
                            format: 'HH:mm'
                        })
                        init_input(data.content)
                        form.val('modeltaskForm', data);
                        form.on("checkbox", function (obj) {
                        })
                        form.on("select(form_content)", function (obj) {
                            $form_time.val("");
                            $form_number.val("");
                            init_input(obj.value)
                        })
                        form.on('submit(modelSubmit)', function (obj) {
                            var mindex = layer.alert("正在添加新任务...", {icon: 1, closeBtn: 0, btn: []})
                            $.ajax({
                                url: "editTask",
                                type: "POST",
                                data: obj.field,
                                dataType: 'json',
                                success: function (res) {
                                    if (res.status) {
                                        layer.close(dIndex)
                                        layer.msg(res.msg, {icon: 1})
                                    } else {
                                        layer.msg(res.msg, {icon: 2})
                                    }
                                },
                                error: function () {
                                    layer.msg("服务器连接失败", {icon: 2})
                                },
                                complete: function () {
                                    layer.close(mindex)
                                    insTb.reload({});
                                }
                            })
                            return false;
                        })
                    }
                });
            } else if (layEvent === 'del') { // 删除
                layer.confirm('确认删除吗?', {skin: "myskin"}, function (index) {
                    var mindex = layer.alert("正在删除", {icon: 1, title: "请稍后", closeBtn: 0, btn: []})
                    $.ajax({
                        url: 'delTask',
                        type: 'POST',
                        data: {"task_id": data.task_id},
                        dataType: 'json',
                        success: function (res) {
                            if (res.status) {
                                layer.msg(res.msg, {icon: 1})
                            } else {
                                layer.msg(res.msg, {icon: 2})
                            }
                        },
                        error: function () {
                            layer.msg("服务器连接失败", {icon: 2})
                        },
                        complete: function () {
                            layer.close(mindex)
                            insTb.reload({});
                        }
                    });
                });
                console.log(obj)
            }
        });

        form.on("switch(enable)", function (obj) {
            var contexts;
            var sar;
            var x = obj.elem.checked;
            var id = obj.elem.value;
            var mindex = layer.alert(`正在${!x ? "禁用" : "启用"}`, {icon: 1, title: "请稍后", closeBtn: 0, btn: []})
            $.ajax({
                url: "enable.json",
                type: "POST",
                data: {
                    task_id: id,
                    enable: x ? true : undefined
                },
                dataType: 'json',
                success: function (res) {
                    if (res.status) {
                        layer.msg(res.msg, {icon: 1})
                    } else {
                        layer.msg(res.msg, {icon: 2})
                    }
                },
                error: function () {
                    layer.msg("服务器连接失败", {icon: 2})
                },
                complete: function () {
                    layer.close(mindex)
                    insTb.reload({});
                }
            })
        })
        $('#addTask').click(function () {
            admin.open({
                type: 1,
                title: ['新任务', "font-weight:bold;"],
                content: $('#addTaskModel').html(),
                offset: '-1px',
                area: ['1000px', 'auto'],
                success: function (layero, dIndex) {
                    form.render();
                    var $zxsj = $("#zxsj");
                    var $form_content = $("#form_content");
                    var $form_time = $("#form_time");
                    var $form_number = $("#form_number");
                    if ($form_content.val()) {
                        $zxsj.show(200)
                    } else {
                        $zxsj.hide(200)
                    }
                    form.on("checkbox", function (obj) {
                    })
                    form.on("select(form_content)", function (obj) {
                        var value = obj.value;
                        $form_time.val("");
                        $form_number.val("");
                        if (value == "每隔秒" || value == "每隔分" || value == "每隔时" || value == "每隔天") {
                            $form_number.attr("min", "1");
                            $form_number.attr("max", "1000");
                            $form_number.attr("onkeyup", "if(this.value>1000){this.value=1000};if(this.value<1){this.value=1}");
                            $form_number.attr("lay-verify", "required").show().attr("name", "time")
                            $form_time.attr("lay-verify", "").hide().attr("name", "")
                        } else if (value == "每分" || value == "每时") {
                            $form_number.attr("min", "0");
                            $form_number.attr("max", "59");
                            $form_number.attr("onkeyup", "if(this.value>60){this.value=60};if(this.value<0){this.value=0}");
                            $form_number.attr("lay-verify", "required").show().attr("name", "time")
                            $form_time.attr("lay-verify", "").hide().attr("name", "")
                        } else if (value == "每天" || value == "每周一" || value == "每周二" || value == "每周三" || value == "每周四" || value == "每周五" || value == "每周六" || value == "每周日") {
                            laydate.render({
                                elem: '#form_time',
                                type: "time",
                                format: 'HH:mm'
                            })
                            $form_number.attr("lay-verify", "").hide().attr("name", "")
                            $form_time.attr("lay-verify", "required").show().attr("name", "time")
                        }
                        if ($form_content.val()) {
                            $zxsj.show(200)
                        } else {
                            $zxsj.hide(200)
                        }
                    })
                    form.on('submit(modelSubmit)', function (obj) {
                        var mindex = layer.alert("正在添加新任务...", {icon: 1, closeBtn: 0, btn: []})
                        $.ajax({
                            url: "addTask",
                            type: "POST",
                            data: obj.field,
                            dataType: 'json',
                            success: function (res) {
                                if (res.status) {
                                    layer.close(dIndex)
                                    layer.msg(res.msg, {icon: 1})
                                } else {
                                    layer.msg(res.msg, {icon: 2})
                                }
                            },
                            error: function () {
                                layer.msg("服务器连接失败", {icon: 2})
                            },
                            complete: function () {
                                layer.close(mindex)
                                insTb.reload({});
                                insTb.reload({});
                            }
                        })
                        return false;
                    })
                }
            });
        });


    })

</script>